.active{
    background-color: gainsboro;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    
}

.active img{
    height: 140px;
    width: 100%;
}
.button{
    
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    border-start-end-radius: 10px;
    border: none;
    background-color: aqua;
    border-bottom-left-radius: 10px;

}
.time{
    margin-bottom: 40px;
}


button:hover{
    background-color: cadetblue;
}

