.count img{
    height: 200px;
    width: 300px;
    text-align: start;
    padding-left: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

.count{
    text-align: start;
    padding-left: 15px;
}
.adderss{
    margin-top: 0px;
}
.name{
    margin-bottom: 5px;
}
.info{
    display: flex;
    
}
.info h2{
    margin-left: 20px;
}
.para{
    margin-top: 0;
    margin-left: 40px;
}
.weight{
    margin-bottom: 5px;
}
.height{
    margin-bottom: 5px;
}
.hei{
    margin-left: 40px;
    margin-top: 0;
}

.age{
    margin-bottom: 5px;
}
.a{
    margin-left: 30px;
    margin-top: 0;
}
.info{
    border: 1px solid gainsboro;
    margin-right: 10px;
    background-color: darkgray;
    border-radius: 10px;
}

.butto button{
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: floralwhite;
    border: none;
    border-radius: 2px;
}
.butto button:hover{
    background-color: aqua;
}
.butto{
    border: 2px solid beige;
    margin-right: 15px;
    border-radius: 5px;
}

.e-time{
    border: 1px solid gainsboro;
    padding: 5px;
    margin-right: 15px;
    background-color: antiquewhite;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.b-time{
    border: 1px solid gainsboro;
    padding: 5px;
    margin-right: 15px;
    background-color: antiquewhite;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
/* .exercide-details{
    margin-top: 10px;
    margin-bottom: 10px;
} */


.complete{
    background-color: seagreen;
    margin: 70px;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    border-radius: 5px;
}


/* @media screen and (max-width: 768px) {
    .count{
        width: 1000px;
    }
} */